*
{
	margin: 0;
	padding: 0;
}
body
{
	background: #fff;
	color: #222;
}
h1,h2,h3,h4,h5,h6
{
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
}
ul,ol
{
	margin: 0;
	padding: 0;
}
a
{
	color: #666;
}
a:hover,
a:focus
{
	color: #900;
	text-decoration: none;
}
_strong
{
	font-weight: normal;
}
input,textarea,select,button
{
	box-sizing: border-box;
	moz-box-sizing: border-box;
}
button,input,select,textarea,img,fieldset
{
	border: 0;
}
button,input,select,textarea
{
	height: auto;
	transition: all 0.2s ease;
}
input[type="text"],
input[type="password"]
{
	border: 0;
	height: auto;
}
button::-moz-focus-inner
{
	margin: -1px;
	padding: 0;
}
::-webkit-input-placeholder
{
	color: #fff;
	opacity: 1;
}
::-moz-placeholder
{
	color: #fff;
	opacity: 1;
}
:-ms-input-placeholder
{
	color: #fff;
	opacity: 1;
}
input:-moz-placeholder
{
	color: #fff;
	opacity: 1;
}
.alignleft
{
	float: left;
}
.alignright
{
	float: right;
}
.grad-red
{
	background: linear-gradient(to bottom, #d81e2e 0%,#8c0c12 100%);
	background: -moz-linear-gradient(top, #d81e2e 0%, #8c0c12 100%);
	background: -ms-linear-gradient(top, #d81e2e 0%,#8c0c12 100%);
	background: -o-linear-gradient(top, #d81e2e 0%,#8c0c12 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d81e2e), color-stop(100%,#8c0c12));
	background: -webkit-linear-gradient(top, #d81e2e 0%,#8c0c12 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d81e2e', endColorstr='#8c0c12',GradientType=0 );
}
.grad-ocher
{
	background: linear-gradient(to bottom, #d7bc6d 0%,#9e8335 100%);
	background: -moz-linear-gradient(top, #d7bc6d 0%, #9e8335 100%);
	background: -ms-linear-gradient(top, #d7bc6d 0%,#9e8335 100%);
	background: -o-linear-gradient(top, #d7bc6d 0%,#9e8335 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d7bc6d), color-stop(100%,#9e8335));
	background: -webkit-linear-gradient(top, #d7bc6d 0%,#9e8335 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7bc6d', endColorstr='#9e8335',GradientType=0 );
}
.panel-title
{
	height: 125px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 1000px;
}
.panel-title h1
{
	font-size: 48px;
	margin-top: 30px;
	text-transform: none;
}
.panel-menu
{
	background-color: #565248;
	border-bottom: solid 4px #f0a513;
	color: #fff;
	font-size: 14px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 1000px;
}
.panel-menu ul
{
	list-style: none;
	padding: 10px 10px;
}
.panel-menu ul li
{
	float: left;
	margin-right: 15px;
	text-transform: uppercase;
}
.panel-menu a
{
	color: #fff;
}
.panel-menu a:hover
{
	color: #ffff99;
}
.panel-slider
{
	background-color: #ffff99;
	text-align: center;
}
.slider-content
{
	color: #fff;
	display: block;
	font-size: 14px;
	margin-left: auto;
	margin-right: auto;
	min-height: 285px;
	padding: 15px;
	text-align: left;
	width: 1000px;
}
.slider-code
{
	background-color: #fff;
	border: solid 1px #999;
	padding: 5px;
	text-align: left;
}
.slider-code pre
{
	background-color: #fff;
	border: none;
}
.slider-title
{
	color: #8b0000;
	font-size: 42px;
}
.slider-text
{
	color: #333;
	font-size: 18px;
	line-height: 20px;
	margin: 10px 0px;
}
.slider-footer
{
	background-color: #f0a513;
	height: 50px;
}
.panel-starts
{
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	min-height: 125px;
	text-align: left;
	width: 1000px;
}
.stats-box
{
	text-align: center;
}
.stats-box a
{
	color: #333;
}
.stats-box a:hover
{
	color: #8b0000;
}
.content-title
{
	text-align: center;
}
.content-title h2
{
	color: #8b0000;
	font-size: 42px;
}
.content-title span
{
	color: #333;
	font-size: 18px;
	line-height: 20px;
	margin: 10px 0px;
}
.panel-submenu
{
	background-color: #565248;
	border: none;
}
.submenu-content
{
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.panel-submenu ul
{
	list-style: none;
	margin-left: auto;
	margin-right: auto;
	padding: 12px 0px;
}
.panel-submenu ul li
{
	float: left;
	margin-right: 15px;
	text-transform: uppercase;
}
.panel-submenu a
{
	color: #fff;
}
.panel-submenu a:hover
{
	color: #ffff99;
}
.panel-footer
{
	background-color: #000;
	border: none;
	color: #fff;
}
.footer-content
{
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
}
.footer-content h4
{
	font-size: 20px;
	text-transform: none;
}
.panel-content 
{
    margin-left: auto; 
    margin-right: auto; 
    width:900px;
}
