<html>
    <head>
        <meta charset="utf-8" />
        <title>Campinas Perl Mongers</title>
        
        <!-- CSS -->
        <link rel="stylesheet" href="assets/css/bootstrap.css" />
        <link rel="stylesheet" href="assets/css/style.css" />

        <!-- Js -->
        <!-- script src="http://code.jquery.com/jquery-1.9.1.js"></script -->

        <!--[if lt IE 9]>
            <script src="js/html5shiv.js" type="text/javascript"></script>
        <![endif]-->
        

</head>
<body>

    <div class="content">
        <header>
            <div class="panel-title">
                <div class="col-md-3">
                    <img src="assets/img/logo.png" alt="Camel LOGO" title="Campinas Perl Mongers">
                </div>
                <div class="col-md-9">
                    <h1>Campinas Perl Mongers</h1>
                    <span>Comunidade Perl de Campinas</span>
                </div>
            </div>
            <div class="panel-menu content">
                <ul class="">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Sobre Nos</a></li>
                    <li><a href="#">Sobre o Perl</a></li>
                    <li><a href="#">Contato</a></li>
                    <!-- li><a href="#">Noticias</a></li>
                    <li><a href="#">Artigos</a></li -->
                    <li><a href="#">Projetos</a></li>
                    <li><a href="#">Oportunidades</a></li>
                </ul>
            </div>
            <br />
        </header>
        
        <div class="panel-slider content">
            <div class="slider-content">
                <div class="col-md-4">
                    <div class="slider-code">
                        <pre style="line-height:15px;">
<span style="color:green"># classe Pessoa</span>
<span style="color:blue">package</span> Pessoa;
<strong>use</strong> <a href="https://metacpan.org/pod/Moo" target="_blank">Moo</a>;

<strong>sub</strong> <strong style="color:purple">cumprimenta</strong> {
    my (<span style="color:blue">$self</span>, <span style="color:blue">$nome</span>) = @_;
    print <span style="color:purple">"Ola $nome"</span>;
}

<span style="color:blue">package</span> main;

my <span style="color:blue">$pessoa</span> = Pessoa->new;
<span style="color:blue">$pessoa</span>-&gt;cumprimenta(<span style="color:purple">'Mundo'</span>);
                        </pre>
                    </div>
                </div>
                <div class="col-md-8">
                    <span class="slider-title">Porque n&oacute;s ♥ Perl...</span>
                    <br />
                    <p class="slider-text">Uma linguagem poderosa e produtiva, interpretada, 
                    de código aberto, multiplataforma, multi-paradigma 
                    e de propósito geral.</p>
                    <p class="slider-text">Perl é a linguagem perfeita para desenvolvimento 
                    web ou para manipular textos e é utilizada por 
                    diversas grandes empresas como a Amazon, IBM, 
                    Google, Intel, Cisco, HP, Oracle e Yahoo.</p>
                    <br />
                    <a href="#" class="btn btn-sm btn-default">Leia mais...</a>

                </div>
            </div>
            <div class="slider-footer">
                &nbsp;
            </div>
        </div>
        
        <div class="panel-starts">
            <div class="content-title">
                <h2>Come&ccedil;ando Agora?</h2>
                <span>Baixe e instale o Perl, leia os artigos e documentos recomentados
                <br />e participe da comunidade</span>
            </div>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <div class="well stats-box">
                        <a href="#">
                            <img src="assets/img/download.png" title="Baixe o Perl" alt="Baixar o Perl"><br />
                            <h3>Baixe Perl</h3>
                            <span>versão atual 5.18</span>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well stats-box">
                        <a href="#">
                            <img src="assets/img/learn.png" title="Aprenda a Linguagem" alt="Aprenda a Linguagem"><br />
                            <h3>Aprenda</h3>
                            <span>docs, artigos e livros</span>
                        </a>    
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="well stats-box">
                            <a href="#">
                                <img src="assets/img/community.png" title="Participe da Comunidade" alt="Participe da Comunidade"><br />
                                <h3>Participe</h3>
                                <span>IRC, eventos e listas</span>
                            </a>    
                        </div>
                    </div>
                </div>
            </div>
            
            <footer>
                <div class="panel-submenu">
                    <div class="submenu-content">
                        <ul class="">
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Sobre Nos</a></li>
                            <li><a href="#">Sobre o Perl</a></li>
                            <li><a href="#">Contato</a></li>
                            <!-- li><a href="#">Noticias</a></li>
                            <li><a href="#">Artigos</a></li -->
                            <li><a href="#">Projetos</a></li>
                            <li><a href="#">Oportunidades</a></li>
                        </ul>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="footer-content">
                        &nbsp;
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Campinas Perl Mongers | <small>&copy; 2014</h4>
                            </div>
                            <div class="col-md-8 text-right">
                                <small>Lorem ipsum dolor</small>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
        <script src="assets/js/bootstrap.js"></script>
    </body>
</html>
